@tailwind base;
@tailwind components;
@tailwind utilities;

 /* Hide scrollbar but keep scroll working */
::-webkit-scrollbar {
  display: none;
}

body{
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
} 
